@model CollectionsManager.Models.Item

<body>
  <img class="futureGif" src="https://gifdb.com/images/high/loop-futuristic-retro-wave-grid-mk8j412gtwq7smw2.gif"
    alt="future gif">
  <h3>Add a new item</h3>

  <p><strong>NOTE:</strong> You need to have at least one collection before you can add an item!</p>

  <p>Go to @Html.ActionLink("this page", "Create", "Collections") to create a collection.</p>

  @using (Html.BeginForm())
  {
    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name..." })
    @Html.TextBoxFor(model => model.Description, new { placeholder = "Description..." })
    @Html.TextBoxFor(model => model.Value, new { placeholder = "Value..." })
    @Html.TextBoxFor(model => model.ImageUrl, new { placeholder = "Image URL..." })
    <input type="date" asp-for="Date" value=@ViewBag.TodaysDate />
    @Html.DropDownList("CollectionId")
    <br />
    <input type="submit" value="Add new item" />
  }

  <button>@Html.ActionLink("Show all items", "Index")</button>
</body>
