@{
        Layout = "_Layout";
}
@model CollectionsManager.Models.Item

<body>
        <div id="itemDetails">
                <h2> Item Details - <a href="/collections/details/@Model.Collection.CollectionId"><em><span
                                                class="backLink">@Model.Collection.Name</span></em></a>
                </h2>
                <hr />
                <div class="itemCard">
                        @{
                                string url = @Model.ImageUrl;

                                if (string.IsNullOrEmpty(url))
                                {
                                        url = "/assets/images/placeholder.png";
                                }
                        }
                        <div class="itemImage">
                                <img src="@url" alt="item" />
                        </div>
                        <div id="itemStats">
                                <p>@Model.Name</p>
                                <p>@Model.Description</p>
                                <p>$@Model.Value</p>
                                <p>
                                        @foreach (ItemTagJoinEntity entity in Model.ItemTagJoinEntities)
                                        {
                                                <span>@Html.ActionLink($"#{entity.Tag.Name}", "Details", "Tags", new
                                                                {
                                                                        id =
                                                                       entity.Tag.TagId
                                                                }) </span>
                                        }

                                </p>
                                <div id="cardIcons">
                                        <a href="/items/edit/@Model.ItemId">
                                                <img class="editIcon" src="~/assets/images/edit.svg" alt="edit icon" />
                                        </a>
                                        <a href="/items/delete/@Model.ItemId">
                                                <img class="deleteIcon" src="~/assets/images/deleteIcon.svg"
                                                        alt="delete icon" />
                                        </a>
                                </div>

                        </div>
                </div>
</body>
