@model CollectionsManager.Models.Item

<h2>Edit</h2>

<h4>Edit this item's details: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ItemId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  @Html.LabelFor(model => model.Collection)
  @Html.DropDownList("CollectionId")

  <input type="submit" value="Save" />
}
<button>@Html.ActionLink("Back to list", "Index")</button>
