@model CollectionsManager.Models.Item
<img class="futureGif" src="https://gifdb.com/images/high/loop-futuristic-retro-wave-grid-mk8j412gtwq7smw2.gif"
  alt="future gif">
<div class="editForm">
  <h4>Editing: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.ItemId)
    <br>

    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name" })
    <br>
    @Html.EditorFor(model => model.Description, new { placeholder = "Description" })
    <br>
    @Html.EditorFor(model => model.ImageUrl, new { placeholder = "ImageUrl" })
    <br>
    @Html.DropDownList("CollectionId")
    <br>
    <input type="submit" value="Save" />
  }
</div>
