@model CollectionsManager.Models.Collection
@using CollectionsManager.Models

@{
  ViewData["Title"] = $"{Html.DisplayNameFor(model => model.Name)}";
}
<div class="index">
  <h1>Collection Details</h1>
  <hr />
  <h3>@Model.Name</h3>

  <form asp-controller="Collections" asp-action="Details">
    <input type="hidden" name="collectionId" value="@ViewBag.CollectionId" />
    <p>
      <input type="text" name="SearchString" placeholder="search" value="@ViewBag.SearchString" />
      <input type="submit" value="Filter" />
    </p>
  </form>

  @if (@Model.Items.Count == 0)
  {
    <h3>No items have been added to this collection yet!</h3>
  }
  else
  {
    <h3>Items:</h3>
    <ul>
      @foreach (Item item in Model.Items)
      {
        <li>@Html.ActionLink($"{item.Name}", "Details", "Items", new { id = item.ItemId })</li>
      }
    </ul>
  }
  <h3>Value: $@ViewBag.Sum</h3>
  <div class="detailsIcons">
    <a href="/items/create/">
      <img class="addIcon" src="~/assets/images/addIcon.png" alt="edit icon" />
    </a>
    <a href="/collections/edit/@Model.CollectionId">
      <img class="editIcon" src="~/assets/images/edit.svg" alt="edit icon" />
    </a>
    <a href="/collections/delete/@Model.CollectionId">
      <img class="deleteIcon" src="~/assets/images/deleteIcon.svg" alt="delete icon" />
    </a>
  </div>
</div>
