@model CollectionsManager.Models.Collection
@using CollectionsManager.Models

@{
  ViewData["Title"] = $"{Html.DisplayNameFor(model => model.Name)}";
}

<h2>Collection Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

    @if (@Model.Items.Count == 0)
    {
      <h3>No items have been added to this collection yet!</h3>
    }
    else
    {
      <h3>Items:</h3>
      <ul>
        @foreach (Item item in Model.Items)
        {
          <li>@Html.ActionLink($"{item.Name}", "Details", "Items", new { id = item.ItemId })</li>
        }
      </ul>
    }

    <p>@Html.ActionLink("Edit Collection", "Edit", new { id = Model.CollectionId })</p>
    <p>@Html.ActionLink("Delete Collection", "Delete", new { id = Model.CollectionId })</p>
    <p>@Html.ActionLink("Back to list", "Index")</p>
